<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <br>
      <br>
      <h1 class="text-center">
        <%= image_tag 'quicketh.png' %>
      </h1>

      <h3 class="text-center">
        Accept ETH as payment.<br>
        Give customers the ease of using their credit card.<br>
        Don't get defrauded.<br>
      </h3>

      <br>
      <br>

      <p class="text-center">
      <a class="btn btn-lg btn-info" href="https://docs.google.com/presentation/d/1bKfRg0JoUeoyBmNb8EZV8yJkQ4WhvM6UQEdGxoJlnA8/edit#slide=id.g31f6cc894c_0_118" target="_blank">Learn More</a>
      &nbsp;
      &nbsp;
      &nbsp;
      <a class="typeform-share button btn btn-lg btn-success" href="https://ryanangilly.typeform.com/to/jN84q7" data-mode="popup" target="_blank">I'm Interested! </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
      </p>
    </div>
  </div>
</div>
